<div class="ad-add">
    <h3 class="ad-add__title">Add ad</h3>
    <form novalidate class="simple-form">
<!--         Title: <input type="text" ng-model="user.name" /><br />
        Ad text: <input type="email" ng-model="user.email" /><br />
        Price: <input type="text" ng-model="user.price" /><br />
        <select name="categories" id="categories" ng-model="data.category">
            <option ng-repeat="option in data.categories" value="{{option.id}}">{{option.name}}</option>
        </select
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="update(user)" value="Save" /> -->
    </form>
</div>