/* app css stylesheet */

.page-header__title {
    display: inline;
}
.link-homepage {
    margin-left: 18px;
}
.categories__list {
    margin-left: 20px;
}
.ad-add {
    max-width: 640px;
}
.ad-add .add-add__message {
    height: 100px;
}
.ad-add__alert {
    margin-top: 10px;
}